<div class="row align-items-center full-height">
  <div class="col-10 offset-1">
    <div id="home">
      <p>
        home works! After immigrating from China, we opened our first family
        owned restaurant in Floral Park, New York. We’ve been serving this
        community for over 15 years, and we look forward to continue serving
        delicious, fresh Chinese takeout. Stop by for our lunchspecial for a
        quick bite, or stay a while and get the dinner combination. Eat in, take
        out, or we can deliver – with us, you always have a choice. menu works!
        Contact Us HOURS Monday – Thursday Friday – Saturday Sunday 10:30am –
        10:30pm 10:30am – 11pm 11am – 10pm CONTACT Phone: (516) 488-9293
        LOCATION 188 Jericho TPKE Floral Park, NY 11001
      </p>
    </div>
  </div>
</div>
