<div class="row full-height landing-page-bg align-items-center">
  <div class="col-12">
    <h1 class="text-center pt-5">New Win Chinese Restaurant</h1>
    <div class="row align-items-center px-4 justify-content-center">
      <button
        type="button"
        class="btn btn-link col mx-5"
        (click)="scroll('home')"
      >
        Home
      </button>
      <button
        type="button"
        class="btn btn-link col mx-5"
        (click)="scroll('about')"
      >
        About Us
      </button>
      <button
        type="button"
        class="btn btn-link col mx-5"
        (click)="scroll('menu')"
      >
        Menu
      </button>
      <button
        type="button"
        class="btn btn-link col mx-5"
        (click)="scroll('contact-us')"
      >
        Contact Us
      </button>
    </div>
  </div>
</div>
