<div class="row full-height landing-page-bg align-items-center">
  <div class="col-12">
    <h1 class="text-center pt-5">New Win Chinese Restaurant</h1>
    <div class="row align-items-center nav-justified">
      <div class="col-10 offset-sm-1">
        <nav class="nav nav-pills">
          <a class="nav-item nav-link" href="#">Home</a>
          <a class="nav-item nav-link" href="#">About Us</a>
          <a class="nav-item nav-link" href="#">Menu</a>
          <button type="button" class="btn btn-light" (click)="scroll('contact-us')">Contact Us</button
          >
        </nav>
      </div>
    </div>
  </div>
</div>
