<div class="row align-items-center full-height">
  <div class="col-10 offset-1">
    <div id="contact-us">
      <div class="row">
        <div class="col-12">
          <h2>Contact Us</h2>
          <h4>HOURS</h4>

          <div class="row" id="hours-row">
            <div class="col-6" id="hours-days">
              <p>
                Monday – Thursday <br />
                Friday – Saturday <br />
                Sunday <br />
              </p>
            </div>
            <div class="col-6" id="hours-times">
              <p>
                10:30am – 10:30pm <br />
                10:30am – 11pm <br />
                11am – 10pm <br />
              </p>
            </div>
          </div>

          <h4>CONTACT</h4>
          <p>Phone: (516) 488-9293</p>
          <h4>LOCATION</h4>
          <p>188 Jericho TPKE Floral Park, NY 11001</p>
        </div>
      </div>
    </div>
  </div>
</div>
