<div class="container-fluid">
  <app-landing-page (scrollTo)="scrollTo($event)"></app-landing-page>
</div>
<div class="container-fluid">
  <h1 class="text-center">New Win Chinese Restaurant</h1>
  <app-header (scrollTo)="scrollTo($event)"></app-header>
  <app-home></app-home>
</div>

<!-- <div class="container-fluid">
  <h1 class="text-center">New Win Chinese Restaurant</h1>
  <app-header (scrollTo)="scrollTo($event)"></app-header>
  <div class="component-wrapper"><app-home></app-home></div>
  <div class="component-wrapper"><app-about></app-about></div>
  <div class="component-wrapper"><app-menu></app-menu></div>
  <div class="component-wrapper"><app-contact-us></app-contact-us></div>
</div> -->

<router-outlet></router-outlet>
